<md-content layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Crossover Video Portal</span>
            <span flex></span> Welcome {{userSession.username}}
            <md-button aria-label="logout" ng-click="homeController.logout()"> logout </md-button>
        </div>
    </md-toolbar>

    <section layout="row" layout-wrap layout-align="center" on-scroll="homeController.loadMore()" class="home-section" style="overflow: auto;">
        <md-card class="video-card-home" ng-repeat="video in homeController.videos">
            <md-card-header ng-click="homeController.openVideo(video._id)">
                <md-card-header-text>
                    <span class="md-title-home">{{video.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <video width="100%" preload="auto" id="{{video._id}}" playing="homeController.pauseOthers(video._id)" controls ng-click="homeController.playVideo(video._id)">
                <source ng-src="{{video.url}}" type="video/mp4">
            </video>
            <md-card-content layout-align="start start">
                <ng-md-icon ng-repeat="star in video.stars" icon="{{star.icon}}" size="24"></ng-md-icon>
            </md-card-content>
        </md-card>
    </section>
    <md-progress-linear class="md-progress-bottom" ng-if="homeController.dataLoading" md-mode="indeterminate" aria-label="label"></md-progress-linear>
</md-content>