<md-content layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Crossover Video Portal</span>
            <span flex></span> Welcome {{userSession.username}}
            <md-button aria-label="logout" ng-click="homeController.logout()"> logout </md-button>
        </div>
    </md-toolbar>

    <md-progress-linear ng-if="homeController.dataLoading" md-mode="indeterminate" aria-label="label"></md-progress-linear>

    <section layout layout-wrap layout-align="center" on-scroll="homeController.loadMore()" style="height: 80vh;
    overflow: auto;">
        <md-card class="video-card" ng-repeat="video in homeController.videos">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{video.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <video width="100%" controls>
                <source ng-src="{{video.url}}" type="video/mp4">
            </video>
            <md-card-content layout-align="start start">
                <ng-md-icon ng-repeat="star in video.stars" icon="{{star.icon}}" size="24"></ng-md-icon>
            </md-card-content>
        </md-card>
    </section>
</md-content>